<div id="sort-loader">
    <div class="introduction">
        {{ 'sort.introduction' | trans }}:
    </div>
    <div class="loader">
        <img src="{{ asset('bundles/admin/img/ajax-loader_1.gif') }}" alt="{{ 'sort.loader' | trans }}" />
        {{ 'updating' | trans }}
    </div>
</div>
